.live {
    width: 100%;
    height: 100vh;
    background: url("../../assets/power-bg.jpg") no-repeat center center/cover;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }
  
  @media screen and (max-width: 540px) {
    .map .container .bottom {
      flex-direction: column;
      align-items: center;
    }
  }
  