.car > img {
    width: 100%;
  }
  .car-list-container {
    width: 80%;
    overflow-x: auto;
  }
  
  .car {
    background-color: rgba(0, 0, 0, 0.333);
    padding: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
  }
  
  .car-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 150%;
    gap: 1rem;
  }
  
  @media screen and (max-width: 992px) {
    .car-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  