.car {
    width: 100%;
    height: 100vh;
    background: url("../../assets/carPage.jpg") no-repeat center center/cover;
  }
  
  .car .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }

  .car .container .logo {
    margin-left: 50rem;
    margin-top: 5rem;
  }
  
  .car .top {
    margin-top: -10rem;
    margin-left: 55rem;
    font-size: 2rem;
    color: #000000;
  }

  .car .grand {
    margin-top: -3rem;
    margin-left: -5rem;
    font-size: 6rem;
    color: #000000;
  }

  .car .bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 4rem;
  }
  
  @media screen and (max-width: 540px) {
    .car .container .bottom {
      flex-direction: column;
      align-items: center;
    }
  }
  